@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

/* Colors */

/*
60% of #677F98 - Primary
30% of #676798 - Secondary
10% of #679898 - Accent
*/

:root {

/* var(--primaryColor) !important; */
--primaryColor: #29258F;

/* var(--secondaryColor) !important; */
--secondaryColor: #28d0cf;

/* var(--accentColor) !important; */
--accentColor: #0901fa;

/* var(--fontFamily) !important; */
--fontFamily: "Amatic SC", sans-serif;

}