<footer>
  <!-- Begin Footer Row -->
  <div class="container-fluid blinn-footer-container">
    <div class="container">
      <div class="row">
        <!-- Column 1 -->
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Contact & Support</h3>
          <ul>
            <li>Contact Us</li>
            <li>Visit Our Main Office</li>
            <li>Volunteer Opportunities</li>
            <li>Media Inquiries</li>
          </ul>
        </div>

        <!-- Column 2 -->
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Ocean Policies</h3>
          <ul>
            <li>Environmental Guidelines</li>
            <li>Privacy Policy</li>
            <li>Terms of Use</li>
            <li>Marine Protection Regulations</li>
          </ul>
        </div>

        <!-- Column 3 -->
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Support Our Mission</h3>
          <ul>
            <h3>Donate</h3>
            <li>Adopt a Sea Creature</li>
            <li>Become a Monthly Supporter</li>
            <li>Partner With Us</li>
          </ul>
        </div>

        <!-- Column 4 -->
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Ocean Resources</h3>
          <ul>
            <li>Marine Life Library</li>
            <li>Beach Finder</li>
            <li>Conservation Tips</li>
            <li>Educational Downloads</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer Row -->

  <!-- Social Icons remain unchanged (assumed under footer in original design) -->
  <div class="footer-social-icons text-center mt-3">
    <a href="#" aria-label="Facebook"><i class="fa-brands fa-facebook fa-2x"></i></a>
    <a href="#" aria-label="Twitter"><i class="fa-brands fa-twitter fa-2x"></i></a>
    <a href="#" aria-label="Instagram"><i class="fa-brands fa-instagram fa-2x"></i></a>
    <a href="#" aria-label="YouTube"><i class="fa-brands fa-youtube fa-2x"></i></a>
  </div>
</footer>
