<header>
  <!-- begin navbar -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <!-- Home -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
          </li>

          <!-- About -->
          <li class="nav-item">
            <a class="nav-link" href="about-us.html">About Us</a>
          </li>

          <!-- Marine Life Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Explore the Ocean </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="marine-life.html">Marine Life</a></li>
              <li><a class="dropdown-item" href="ocean-zones.html">Ocean Zones</a></li>
              <li><a class="dropdown-item" href="conservation.html">Conservation</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="fun-facts.html">Ocean Fun Facts</a></li>
            </ul>
          </li>

          <!-- Find a Beach -->
          <li class="nav-item">
            <a class="nav-link" href="find-a-beach.html">Find a Beach</a>
          </li>

          <!-- Get Involved -->
          <li class="nav-item">
            <a class="nav-link" href="donate.html">Donate</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- end navbar -->
</header>
